[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = git://github.com/zsh-users/zsh-autosuggestions
[submodule "nerd-fonts"]
	path = nerd-fonts
	url = https://github.com/ryanoasis/nerd-fonts.git
